// styles of [id].tsx

.beer_card {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: clamp(400px, 100%, 968px);
  padding: 10px;
}

.img_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    width: 85%;
    text-align: center;
  }
}

.beer_ing_box {
  width: 300px;
  border: 1px solid #EBEBF1;
  text-align: center;
  padding: 20px;
  img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    padding: 20px;
  }
}

.details {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.dl_styles {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  color: #5a6c7d;
  font-size: 0.8em;
  span {
    position: relative;
    background-color: #fff;
  }
}

.dt_styles {
  display: block;
  position: relative;
  &:before {
    border-bottom: 1px dotted rgba(0,26,52,.16);
    bottom: .2em;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.dd_styles {
  padding-left: 0.2em;
  text-align: justify;
}

.dt_styles, .dd_styles {
  width: 50%;
  margin: 0;
}

@media(max-width: 700px) {
  .beer_card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .details {
    h2 {
      text-align: center;
    }
  }
}