.card_container {
  display: flex;
  flex-direction: column;
  max-width: 230px;
  padding: 1.5em;
  cursor: pointer;
  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

.card_image {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.card_header {
  margin-bottom: 0;
  &:hover {
    color: rgb(122, 122, 228);
    text-decoration: underline;
  }
}

.preudo_elem {
  max-width: 230px;
  width: 100%;
}